*{
    margin: 0;
    padding: 0;
}
.hero{
    height:100vh;
    width: 100%;
    background-image: url(/sky.jpg);
    background-size: cover;
    background-position: center;
    position:center;
    
}
.text{
    display: flex;
    justify-content: center ;
    font-size: 3rem;
    font-family: 'Monoton', cursive;
    color:rgb(93, 104, 166)
}


.highway{
    height: 200px;
    width: 900%;
    background-image: url(/road.jpg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; 
    background-repeat: repeat-x;
    animation: highway 5s linear infinite ;
}
@keyframes highway{
    100%{
        transform: translateX(-3300px);
    }
}
.city{
    height: 250px;
    width: 500%;
    background-image: url(/city.png);
    position: absolute;
    bottom:200px;
    left: 0;
    right: 0;
    z-index: 2.5;
    display: block;
    background-repeat: repeat-x;
    animation: city 20s linear infinite ;
}
@keyframes city{
    100%{
        transform: translateX(-1600px);
    }
}
 .traffic{
    left:80%;
    position: relative;
    top: 175px;
    z-index: 2; 
    background-repeat: repeat-x;
    animation: traffic 9s linear infinite ;
}
@keyframes traffic{
    100%{
        transform: translateX(-3400px); 
    }
 } 
 .traffic img{
    height: 200px;
    margin-left: 300px;
 }
.car{
   width: 400px;
   left: 50%;
   bottom: 100px;
   transform: translateX(-50%);
   z-index: 5;
   position: absolute;
  
   
}
.car img{
    width: 100%;
    animation: car 1s linear infinite ;
    
}
@keyframes car{
    100%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(1px);
    }
    0%{
        transform: translateY(-1px);
    }
}
.wheel{
      left: 50%;
        bottom: 178px;
        transform: translateX(-50%);
        z-index: 2;
        position: absolute;
}
.wheel img{
    width: 72px;
    height:72px;
    animation: wheel .7s linear infinite ;
}
.back-wheel{
   left: -165px;
    position: absolute;
}
.front-wheel{
   left: 80px;
    position: absolute;
}
@keyframes wheel{
    100%{
        transform: rotate(360deg);
    }
}

  
